@using Bakery.Models;

<h1>Vendor</h1>


 <ul>
  @foreach (Vendor vendor in Model)
  {
    <li><a href='/vendor/@vendor.Id'>@vendor.Name </a></li>
    
  }
</ul>


<a href="/vendor/new">Add New Vendor!</a>