@using Bakery.Models;
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

<body>

<h1>Vendor</h1>


 <ul>
  @foreach (Vendor vendor in Model)
  {
    <li>Vendor:<a href='/vendor/@vendor.Id'>@vendor.Name</a></li>
  }
</ul>


<button class="btn"><a href="/vendor/new">Add New Vendor!</a></button>




</body>
