<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<body>
<h1>Vendor new</h1>


<form action="/vendor" method="post">
  <label for="name">Add a new Vendor</label>
  <input id="name" name="name" type="text">


  <button type="submit">Submit</button>
</form>


</body>




