@using Bakery.Models;

<h1>Vendor info</h1>
@if (@Model["orders"].Count == 0)
{
  <p>This Vendor has no  orders!</p>
}


@foreach (Order order in @Model["orders"])
{
 <p><a href='/vendor/@Model["vendor"].Id/order/@order.Id'>@order.Description</a></p>

}