@using Bakery.Models;

<h1>Vendor info</h1>
@if (@Model["orders"].Count == 0)
{
  <p>This Vendor has no  orders!</p>
}


@foreach (Order order in @Model["orders"])
{
 <p><a href='/vendor/@Model["vendor"].Id/order/@order.Id'>@order.Title</a></p>

}

<a href='/vendor/@Model["vendor"].Id/order/new'>Click to add new order</a>

<a href ='/vendor'>Click to view vendors</a>